extends ./layout.pug

block title
  title Pokemango | Dashboard

block content
  <div class="container">
    <div id="editor"></div>
    <script type="text/javascript" src="/vendor/jsoneditor.min.js"></script>
    <script type="text/javascript" src="/scripts/form.js"></script>
  </div>
